greyface.ini

# /var/
/var/cache/*
!/var/cache/.gitignore
/var/log/*
!/var/log/.gitignore

/data

/docker

## PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# Mac specific files
.DS_Store
._.DS_Store
._*

# Backups
/*.sql

/.env.local
/.env.*.local
