{% extends 'page.html.twig' %}

{% block head %}
    <meta http-equiv="refresh" content="10; url={{ path('app') }}">
{% endblock %}

{% block subtitle %}{% trans %}change_password.success.title{% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans %}change_password.success.header{% endtrans %}</h3>
    <div class="description-wrap">
        <p> {% trans %}change_password.success.text{% endtrans %} </p>

            <button class="btn btn-light" onclick="window.location.href='{{ path('app') }}'">
                <span>{% trans %}change_password.success.button{% endtrans %}</span>
            </button>

    </div>
{% endblock %}
