{% extends 'page.html.twig' %}

{% block head %}
    <meta http-equiv="refresh" content="10; url={{ path('app') }}">
{% endblock %}

{% block subtitle %}Passwort ge채ndert{% endblock %}

{% block content %}
    <h3>Passwort ge채ndert</h3>
    <div class="description-wrap">
        <p> Ihr Passwort wurde erfolgreich ge채ndert. Bitte gehen Sie zur체ck in den Greyface und melden
            sich mit dem neuen Passwort wieder an.</p>

            <button class="btn btn-light" onclick="window.location.href='{{ path('app') }}'">
                <span>Weiter zur Anwendung</span>
            </button>

    </div>
{% endblock %}
