.split-view {
  display: flex;

  > .gutter {
    position: relative;
    background-color: var(--std-panel-color-background);
    background-repeat: no-repeat;
    background-position: 50%;

    &.gutter-vertical {
      flex-direction: column;
    }

    &.gutter-horizontal {
      flex-direction: row;
      box-shadow: rgb(0 0 0 / 5%) -1px 0 0 0,
      rgb(0 0 0 / 6%) 0px 1px 2px -2px,
      rgb(0 0 0 / 7%) -1px 0 3px 0;

      &::after {
        position: absolute;
        top: 50%;
        left: 2px;
        width: 3px;
        height: 25px;

        background-color: rgb(0 0 0 / 7%);
        border-radius: 3px;

        content: ' ';
      }

      &:hover {
        cursor: col-resize;
      }
    }
  }
}