{% extends 'page.html.twig' %}

{% block subtitle %}{% trans %}login.title{% endtrans %}{% endblock %}

{% block content %}

    <h3>{% trans %}login.header{% endtrans %}</h3>
    {% if error %}
        <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form name="login" method="post" action="{{ path('login') }}">
        <div class="form-group">
            <label for="username">{% trans %}login.form.username{% endtrans %}</label>
            <input class="form-control" type="text" aria-label="Login" id="username" name="username"
                   value="{{ last_username }}"
                   required autocomplete="username" {% if not last_username %}autofocus{% endif %}/>
        </div>

        <div class="form-group">
            <label for="password">{% trans %}login.form.password{% endtrans %}</label>
            <input class="form-control" type="password" aria-label="Password" id="password" name="password"
                   required autocomplete="current-password" {% if last_username %}autofocus{% endif %}/>
        </div>

        <div class="form-group mb-3">
            <div class="form-check mt-2">
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me"/>
                <label class="form-check-label mt-0" for="remember_me">{% trans %}login.form.remember_me{% endtrans %}</label>
            </div>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token('login') }}"/>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary">
                <i class="tq-glyph-enter-right"></i>
                <span>{% trans %}login.submit{% endtrans %}</span>
            </button>
        </div>
    </form>
{% endblock %}
